body {
  background-color: #eff3f6;
}

section {
  background-color: #fff;
}

button {
  background-color: #39b54a;
  color: #ffffff;
  // button has it own line
  display: block;
}

h1 {
  // TODO: should I use em here?
  font-size: 24px;
  // TODO: how do I add the font?
  // TODO: sans-serif is the best fallback configuration?
  font-family: SourceSansPro, sans-serif;
  color: #354052;
}
